.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 100s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a.strikethroughlink{
  text-decoration: none;
  color: rgba(100,100,250,1);
}

a.strikethroughlink:visited {
  color: rgba(200,0,0,1);
}

a.strikethroughlink:hover {
  text-decoration: line-through;
  background: rgba(255, 189, 182, 0.3);
  color: rgba(200,0,0,1);
  transition: all 0.5s;
}

.REDACTED {
	display: inline-block;
	position: relative;
}

.REDACTED:after {
	content: 'REDACTED';
	position: absolute;
  color: red;
	display: none;
	width: 100%;
	height: 1em;
	margin-top: -1em;
	background: black;
}

.REDACTED:hover:after {
	transform: scaleX(0);
	transform-origin: center left;
  display: block;
  animation: REDACT 1s 0s cubic-bezier(.55, 0, .1, 1) 1;
  animation-fill-mode: forwards
}

.photo {
  height: 50%;
  width: 50%;
}

.poem {
  height: 210px;
  width: 30%;
}

.story {
  height: 300px;
  width: 50%;
}

@keyframes REDACT {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
